/* Importing Custom Nokia Font from: https://www.dafont.com/nokia-cellphone.font*/
@font-face {
  font-family: "NokiaFont";
  src: url("../font/nokiafc22.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Importing Google Font "Oxanium"*/
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

/* CSS Variables */
:root {
  --brand-primary-font: "NokiaFont", sans-serif;
  --brand-secondary-font: "Oxanium", sans-serif;
  --brand-dblue: #292f3d;
  --brand-neon: #95c406;
  --brand-dgreen: #304807;
  --brand-lgrey: #e6e7e2;
  --brand-dgrey: #7f8083;
  --brand-black: #212727;
  --brand-lblue: #15BBC7;
}

/* Global Styles */
body {
  background-color: var(--brand-dblue);
  font-family: var(--brand-secondary-font);
  color: var(--brand-lgrey);
  font-size: medium;
  margin: 0;
}

.hide {
  display: none;
}

/* Heading section*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.header > img {
  height: 100%;
  max-height: 15vh;
  width: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Game Screen section*/
.game-screen {
  background-color: var(--brand-neon);
  color: var(--brand-dgreen);
  font-family: var(--brand-primary-font);
  box-sizing: border-box;
  width: 80%;
  min-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.game-screen p {
    padding: 0 3rem;
}

.game-screen span {
  padding: 0 1rem;
}

/* Input styling */
#user-form label {
    font-size: 150%;
}

input {
    background-color: var(--brand-neon);
    border: 4px solid var(--brand-dgreen);
    color: var(--brand-dgreen);
    font-family: var(--brand-primary-font);
    font-size: 200%;
}

input:focus {
    outline: none; 
  }

/* Timer */
.timer-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    padding-top: 0.5rem;
    padding-right: 1.5rem;    
}
#timer-display {
    font-size: 250%;
}

/* QA container */
.qa-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 5rem;
}

.qa-container p {
    font-size: 250%;
}

#question {
    font-size: 350%;
}

#answer {
    font-size: 400%;
    text-align: center;
}

/* Game Control buttons section */
.game-controls {
  background-color: var(--brand-dblue);
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: row;
}

/* Button styles: */

.btn {
    background: linear-gradient(var(--brand-lgrey), var(--brand-dgrey));
    color: var(--brand-black);
    border: none;
    height: 3.5rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn:hover{
    color: var(--brand-lblue)
}

.btn:active {
    transform: translateY(1px);
}

.btn-main {
    border-radius: 45%;
    width: 70%;
    font-size: 2rem;
}

.btn-left {
    border-radius: 45px 200px 45px 200px;
    width: 15%;
}

.btn-right {
    border-radius: 200px 45px 200px 45px;
    width: 15%;
}